body {
    padding: 50px 450px;
    background-color: #f1f1f1;
}

input[type="button"] {
    width: 100px; 
    height: 60px;
    border: 5px solid #0ee6d4;
    border-radius: 10px;
    padding: 10px 20px; 
    font-size: 18px; 
}

#a {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    box-sizing: border-box;
}

.box {
    background-color: rgb(255, 255, 255);
    padding: 70px 100px;
    border-radius: 10px;
    border: 5px solid #0ee6d4;
}
